<%- include('includes/header') %>
<%- include('includes/nav-dashboard') %>

<div class="container-fluid ">
    <div class="row bg-red justify-content-center">
        <div class="col-md-10 ">
            <div class="row align-items-center py-4 justify-content-around">
                <div class="col-md-2 step-list text-white text-center">
                    <i class="fa fa-location-dot font-40"></i>
                    <p class="mt-2  mb-0">Location</p>
                </div>
                <div class=" col-md-2  step-list text-white text-center">
                    <i class="fa fa-hospital font-40"></i>
                    <p class="mt-2 mb-0">Donor Centre</p>
                </div>
                <div class="col-md-2 step-list text-white text-center">
                    <i class="fa fa-calendar-days font-40 "></i>
                    <p class="mt-2 mb-0">Date and Time</p>
                </div>
                <div class="col-md-2  step-list text-white text-center">
                    <i class="fa fa-receipt font-40"></i>
                    <p class="mt-2 mb-0">Review and book</p>
                </div>
                <div class="col-md-2  step-list text-white text-center">
                    <i class="fa fa-circle-check font-40"></i>
                    <p class="mt-2 mb-0">Complete</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-light">
    <div class="container py-3">
        <div class="row">
            <div class="col-md-12">
                <h3>Blood donation: Select an available time</h3>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row mt-4 justify-content-center">
        <div class="col-md-8 bg-white shadow">
                <h4 class="text-red border-bottom py-3">Select Date and Time</h4>
                <div>
                    Put calender here
                </div>
                
        </div>
    </div>
</div>

<%- include('includes/footer') %>